
/*=== HOMEPAGE ===*/
* {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #f3f3f3;
}
.homepage {
    min-height: calc(100vh - 106px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-title {
    font-family: 'Space Mono', monospace;
    width: 250px;
    text-align: center;
}
.logo_cont {
    width: 300px;
}
.logo_cont img {
    width: 100%;
}

.nav_loader {
    position: absolute;
    top: 22%;
    right: 2%;    
    display: none;
}
.nav_loader._active {
    display: block;
}
/*=== CALENDAR_PAGE ===*/

.calendar_page {
    position: relative;
    min-height: calc(100vh - 106px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar_cont {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.card_cont {
    width: 40%;
    margin: 10px 0;
    
}
.card_cont .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.calendar__alert {
    width: 50%;
    height: 70px;    
    vertical-align: middle;
    position: absolute;
    top: 10%;
    z-index: 1;
    display: none;
    font-size: 17px;    
}
.calendar__alert._active{
    display: block;
}
.calendar__alert div {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}


/*=== GALLERY_PAGE ===*/

.gallery_cont {
    min-height: calc(100vh - 106px);
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}
.card_cont_gal {
    margin: 10px 2% 10px 0;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.card_cont_gal:nth-child(3n+3) {
    margin-right: 0;
}
.card_cont_gal img {
    height: 210px;
    object-fit: cover;
}
.gallery_card_title {
    text-align: center;
}
.gallery_card-body {
    display: flex;
    flex-direction: column; 
    align-items: center;   
}
.gallery_card-body h5 {
    height: 50px;
    overflow: hidden;
}
.gallery_card-body a {
    width: 90px;
}
.gallery__empty {
    margin-top: calc(50vh - 150px);
    opacity: .4;
    font-size: 30px;
    font-weight: 700;
}
.gallery__empty p {
    font-size: 70px;
    text-align: center;
}
/*=== FOOTER ===*/

.footer {
    position: relative;
    background-color: #17a2b8;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 50px;
}

.footer_logo {
    width: 55px;
    position: absolute;
    top: 4px;
    left: 25px;

}
.footer_logo img {
    width: 100%;
}
.footer p a {
    color: #f3f3f3;
}
